@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }
  .section__pic-map-container {
    display: flex;
    width: 90%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 90%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 0 auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .section__pic-map-container img {
    width: 100%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }

  picture {
    display: flex;
    width: 400px;                /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 0 auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .about-pic {
    width: 400px;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    justify-content: center;
    border-radius: 50%;  /* Hace que la imagen sea redonda */
    overflow: hidden;    /* Asegura que la imagen se recorta dentro del círculo */
    margin: 10px auto;
  }
  .section__pic-map-container {
    display: flex;
    width: 100%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 100%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 0 auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .section__pic-map-container img {
    width: 100%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }
  .section__pic-about-container {
    width: 90%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 90%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 5px auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .section__pic-about-container img {
    width: 90%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }

  .about-containers {
    margin-top: 0;
  }
  
  picture {
    display: flex;
    width: 100%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 100%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 5px auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .about-pic {
    width: 100%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  article2 {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 46vw;
    height: 46vw;
    justify-content: center;
    border-radius: 50%;  /* Hace que la imagen sea redonda */
    overflow: hidden;    /* Asegura que la imagen se recorta dentro del círculo */
    margin: 10px auto;
  }
  .section__pic-about-container {
    display: flex;
    width: 90%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 90%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 5px auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .section__pic-about-container img {
    width: 90%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }

  picture {
    display: flex;
    width: 100%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 100%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 5px auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .about-pic {
    width: 100%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }
  
  .section__pic-map-container {
    display: flex;
    width: 100%;                /* La imagen ocupa el 100% del ancho del contenedor */
    max-width: 100%;            /* Asegura que no supere el ancho del contenedor */
    height: auto;               /* Ajusta la altura automáticamente según la proporción */
    margin: 0 auto;             /* Centra el contenedor si es necesario */
    border-radius: 1%;  
    overflow: hidden;           /* Mantiene la imagen dentro de los bordes redondeados */
    object-fit: cover;
  }
  .section__pic-map-container img {
    width: 90%;          /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;         /* La altura se ajusta automáticamente para mantener la proporción */
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    margin-top: 1rem;
    text-align: justify;
  }
  .details-text-container {
    margin-top: 1rem;
    text-align: justify;
  }
}
